<div class="row">
    <div class="col-3">
        <img src="{{skiresort.picture}}" width="100%">
    </div>
    <div class="col">
        <span style="font-size:300%;">{{skiresort.name}}, </span> <span style="font-size:200%; color:gray" >{{skiresort.country}}</span>
        <p>{{skiresort.description}}</p>
        <p>Elevation: {{skiresort.base_elevation_m}}, Highest point: {{skiresort.highest_point}}, Top Elevation: {{skiresort.top_elevation_m}}</p>
    </div>
</div>
<div class="row"><app-tabs></app-tabs></div>
